<?xml version="1.0" encoding="utf-8"?>
<odoo>
     <menuitem id="menu_reporting"
              name="Reporting"
              parent="menu_hospital_root"
              sequence="50"/>
    <menuitem id="menu_appointments_root"
              name="Appointments"
              parent="menu_reporting"
              action="action_report_appointment"
              sequence="10"/>
</odoo>